<h1><%= @photo.title %> <% if @photo.gallery %> <%= t(:in) %> <%= link_to @photo.gallery.name, @photo.gallery %><% end %></h1>
<%= link_to t(:Thumbnail), [:thumbnail, @photo] %> | <%= link_to t(:Medium), @photo %> | <%= link_to t(:Large), [:large, @photo] %> | <%= link_to t(:Original), [:original, @photo] %> <br />
<%= image_tag @photo.file.url((params[:action] == "show" ? :medium : params[:action])) %>